@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}
.background {
  background-image: url(./images/video.png);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}